article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    margin-left:20%;
    margin-right:20%;
    font-size:18px;
}

@media screen and (max-width:1000px) {
	img {
		width:100% !important;
		margin-left:0% !important;
	}
}

img {
	margin-top:10px;
	margin-bottom:10px;
}